.title-img{
  padding-bottom: 10px;
  vertical-align: middle;
  display: inline-block;
}
.liste .tiles {
 -moz-column-width: 13em;
 -webkit-column-width: 13em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}

.liste .col {
   display: inline-block;
   margin:  0.25rem;
   padding:  1rem;
   width:  100%; 
}

.liste .hide {
  display: none;
}

.tile{
  text-align: left;
}

.tile p {
  font-size: 12px;
  margin-bottom: 5px;
}
.tile h3{
  font-size: 18px;
  margin-bottom: 5px;
}

.sidebar {
font-size: 14px;
line-height: 1.214;
height: 100%;
left: 0;
margin: 0;
list-style-type: none;
overflow: auto;
position: fixed;
top: 0;
padding: 0;
width: 270px;
z-index: 10000;
background-color: #f3f4f5;
-webkit-backface-visibility: hidden;
-webkit-font-smoothing: subpixel-antialiased;
}

.sidebar li:first-child a {
  
}
.sidebar a {
  display: block;
  padding: 7px 20px;
}

.sidebar .header{
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: center;
}
.sidebar .header a {
  padding: 0;
}
.sidebar .input-group{
  padding: 20px;
}

.logoside {
  font: 900 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -2px;
  margin: 10px 0;
}
.logoside .logo {
  background: url(../images/icons/svg/book.svg) center 0 no-repeat;
  background-size: 136px 81px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
  text-indent: -9999em;
  width: 200px;
}
.logoside small {
  color: rgba(52, 73, 94, 0.30000000000000004);
  display: block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  padding-top: 5px;
}

/*.liste>div {
  -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    column-count: 3;
    column-gap: 5px;
}
.liste .col-xs-3{
  width: 100%;
  padding-bottom: 10px;
}*/

.liste .col-xs-3{
  padding-bottom:20px;
}

.dropdown-arrow-inverse {
  border-bottom-color: #34495e !important;
  border-top-color: #34495e !important;
}
.container {
  padding-left: 270px;
}


